In [3]:
!pip install psycopg2

Defaulting to user installation because normal site-packages is not writeable
Collecting psycopg2
  Downloading psycopg2-2.9.7-cp39-cp39-win_amd64.whl (1.2 MB)
     ---------------------------------------- 1.2/1.2 MB 3.0 MB/s eta 0:00:00
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.7

In [41]:
import pandas as pd
from time import time
from sqlalchemy import create_engine
import psycopg2
import random
import uuid
import pandas as pd
import mysql.connector
from datetime import datetime, timedelta
import mysql.connector
from mysql.connector.constants import ClientFlag
import geopandas as gpd
import pandas
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
import sqlite3
pg_user="airflow"
pg_password="airflow"
pg_host="localhost"
pg_port="5432"
pg_db="poll_data"
#pg_table=
csv_path="data.csv"

In [42]:
df=pd.read_csv('data2.csv',sep=';')

In [43]:
df

,code_insee,val_ind,conc_pm10,conc_pm25,conc_no2,conc_so2,conc_o3,poll_resp,date_run,date_ech
0,28415,4,22.7,11.6,23.8,0.4,155.7,o3,14/06/2023,16/06/2023
1,37094,4,16.2,9.4,16.1,0.1,145.1,o3,14/06/2023,16/06/2023
2,18273,4,12.6,7.5,12.9,0.2,137.6,o3,14/06/2023,16/06/2023
3,41217,4,14.5,8.3,16.7,0.1,149.0,o3,14/06/2023,16/06/2023
4,28182,4,20.4,10.4,21.9,0.2,152.3,o3,14/06/2023,16/06/2023
...,...,...,...,...,...,...,...,...,...,...
15808,28296,4,19.1,9.7,19.8,0.2,150.2,o3,14/06/2023,16/06/2023
15809,41286,4,16.4,8.8,19.1,0.1,150.8,o3,14/06/2023,16/06/2023
15810,37169,4,16.1,8.8,19.3,0.1,149.8,o3,14/06/2023,16/06/2023
15811,18226,4,14.8,8.0,16.1,0.2,135.9,o3,14/06/2023,16/06/2023
15812,18179,4,14.4,7.7,15.1,0.1,136.8,o3,14/06/2023,16/06/2023

In [44]:
engine = create_engine(f"postgresql://{pg_user}:{pg_password}@{pg_host}:{pg_port}/{pg_db}")
con = engine.connect()

In [47]:
#conn = psycopg2.connect(database = pg_db,
                        #user = pg_user, 
                       # host= 'localhost',
                        #password = pg_password,
                        #port = 5432)

In [46]:
df=pd.read_csv('data2.csv',sep=';')
#df = next(df_iter)

#df.date_run = pd.to_datetime(df.date_run)
#df.date_ech = pd.to_datetime(df.date_ech)



#df.head(0).to_sql(con=con, name="pollution_data", if_exists="replace")

df.to_sql(con=con, name="pollution_data", if_exists="replace")

813

In [6]:
df=pd.read_csv('data2.csv',sep=';')
#df = next(df_iter)

#df.date_run = pd.to_datetime(df.date_run)
#df.date_ech = pd.to_datetime(df.date_ech)



df.head(0).to_sql(con=con, name="pollution_data", if_exists="replace")

df.to_sql(con=con, name="pollution_data", if_exists="replace")
"""
try:
    
    while True:
        t_start = time()
        df = df
  
        df.date_run = pd.to_datetime(df.date_run)
        df.date_ech = pd.to_datetime(df.date_ech)
        df.to_sql(con=con, name=pg_db, if_exists="replace")
  
        end_time = time()
        print("New records added {}".format(end_time-t_start))
except StopIteration:
    print("All records ingested")
    
    """

C:\Users\ZIE MAMADOU\AppData\Roaming\Python\Python39\site-packages\pandas\core\tools\datetimes.py:1047: UserWarning: Parsing '14/06/2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
C:\Users\ZIE MAMADOU\AppData\Roaming\Python\Python39\site-packages\pandas\core\tools\datetimes.py:1047: UserWarning: Parsing '15/06/2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
C:\Users\ZIE MAMADOU\AppData\Roaming\Python\Python39\site-packages\pandas\core\tools\datetimes.py:1047: UserWarning: Parsing '16/06/2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
C:\Users\ZIE MAMADOU\AppData\Roaming\Python\Python39\site-packages\pandas\core\tools\datetimes.py:1047: UserWarning: Parsing '16/06/2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
C:\Users\ZIE MAMADOU\AppData\Roaming\Python\Python39\site-packages\pandas\core\tools\datetimes.py:1047: UserWarning: Parsing '15/06/2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
C:\Users\ZIE MAMADOU\AppData\Roaming\Python\Python39\site-packages\pandas\core\tools\datetimes.py:1047: UserWarning: Parsing '17/06/2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
C:\Users\ZIE MAMADOU\AppData\Roaming\Python\Python39\site-packages\pandas\core\tools\datetimes.py:1047: UserWarning: Parsing '18/06/2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
C:\Users\ZIE MAMADOU\AppData\Roaming\Python\Python39\site-packages\pandas\core\tools\datetimes.py:1047: UserWarning: Parsing '14/06/2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)

'\ntry:\n    \n    while True:\n        t_start = time()\n        df = df\n  \n        df.date_run = pd.to_datetime(df.date_run)\n        df.date_ech = pd.to_datetime(df.date_ech)\n        df.to_sql(con=con, name=pg_db, if_exists="replace")\n  \n        end_time = time()\n        print("New records added {}".format(end_time-t_start))\nexcept StopIteration:\n    print("All records ingested")\n    \n    '

In [56]:
from datetime import date, datetime

datetime.now().strftime("%d/%m/%Y %H:%M:%S")

'15/08/2023 08:51:38'

In [10]:
# connect to db
engine = create_engine("postgresql://airflow:airflow@localhost:5432/poll_data").connect()
engine

In [11]:
#df=pd.read_sql("SELECT * FROM pollution_data",engine)

In [12]:
print(pd.io.sql.get_schema(df, name="pollution_data", con=engine))

CREATE TABLE pollution_data (
	code_insee BIGINT,
	val_ind BIGINT,
	conc_pm10 FLOAT(53),
	conc_pm25 FLOAT(53),
	conc_no2 FLOAT(53),
	conc_so2 FLOAT(53),
	conc_o3 FLOAT(53),
	poll_resp TEXT,
	date_run TIMESTAMP WITHOUT TIME ZONE,
	date_ech TIMESTAMP WITHOUT TIME ZONE
)

In [13]:
gdf = gpd.read_file("georef-france-commune-millesime.shp")

In [14]:
gdf

,year,reg_code,reg_name,dep_code,dep_name,arrdep_code,arrdep_name,ze2020_code,ze2020_name,bv2012_code,...,com_uu2010_,com_au2010_,com_cateaav,com_uu2020_,com_aav2020,com_cv_code,com_in_ctu,com_siren_c,com_is_moun,geometry
0,2021,24,Centre-Val de Loire,18,Cher,182,Saint-Amand-Montrond,2402,Bourges,18197,...,None,None,Commune de la couronne,hors unite urbaine,300,1808,Non,211800024,Non,"POLYGON ((2.56738 46.65241, 2.56651 46.65246, ..."
1,2021,24,Centre-Val de Loire,18,Cher,182,Saint-Amand-Montrond,2402,Bourges,18197,...,None,None,Commune de la couronne,hors unite urbaine,064,1817,Non,211800586,Non,"POLYGON ((2.36723 46.89368, 2.36751 46.89274, ..."
2,2021,24,Centre-Val de Loire,18,Cher,181,Bourges,2402,Bourges,58059,...,None,None,Commune de la couronne,hors unite urbaine,064,1802,Non,211800610,Non,"POLYGON ((2.75604 47.13969, 2.75797 47.14159, ..."
3,2021,24,Centre-Val de Loire,18,Cher,182,Saint-Amand-Montrond,0060,Nevers,18242,...,None,None,Commune hors attraction des villes,hors unite urbaine,000,1809,Non,211801063,Non,"POLYGON ((2.97848 46.86771, 2.97431 46.86168, ..."
4,2021,24,Centre-Val de Loire,18,Cher,181,Bourges,2402,Bourges,18087,...,None,None,Commune de la couronne,hors unite urbaine,064,1802,Non,211801196,Non,"POLYGON ((2.60696 46.99958, 2.60751 46.99950, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1752,2021,24,Centre-Val de Loire,28,Eure-et-Loir,282,ChÃƒÂ¢teaudun,2404,ChÃƒÂ¢teaudun,28088,...,None,None,Commune de la couronne,hors unite urbaine,223,2815,Non,212804009,Non,"POLYGON ((1.53911 48.10056, 1.54662 48.09474, ..."
1753,2021,24,Centre-Val de Loire,28,Eure-et-Loir,283,Dreux,0057,Dreux,28134,...,None,None,Commune de la couronne,unite urbaine,001,2808,Non,212804041,Non,"POLYGON ((1.31553 48.71858, 1.31690 48.72017, ..."
1754,2021,24,Centre-Val de Loire,28,Eure-et-Loir,283,Dreux,0057,Dreux,28134,...,None,None,Commune de la couronne,hors unite urbaine,001,2808,Non,212804058,Non,"POLYGON ((1.31265 48.73361, 1.30987 48.73316, ..."
1755,2021,24,Centre-Val de Loire,28,Eure-et-Loir,281,Chartres,2403,Chartres,28227,...,None,None,Commune de la couronne,hors unite urbaine,001,2802,Non,212804231,Non,"POLYGON ((1.61387 48.54077, 1.61049 48.54226, ..."
1756,2021,24,Centre-Val de Loire,28,Eure-et-Loir,282,ChÃƒÂ¢teaudun,2404,ChÃƒÂ¢teaudun,28061,...,None,None,Commune de la couronne,unite urbaine,535,2803,Non,212804249,Non,"POLYGON ((1.19232 48.14984, 1.19206 48.14977, ..."

In [15]:
gdf = gdf.to_csv("georef.csv")
print(gdf)

None

In [34]:
gdf = pd.read_csv("georef.csv")
print(gdf.drop('Unnamed: 0', axis=1, inplace=True))
print(gdf.dropna(axis=1, inplace=True))

None
None

In [38]:
gdf

,year,reg_code,reg_name,dep_code,dep_name,arrdep_code,arrdep_name,ze2020_code,ze2020_name,bv2012_code,...,com_area_co,com_type,com_cateaav,com_uu2020_,com_aav2020,com_cv_code,com_in_ctu,com_siren_c,com_is_moun,geometry
0,2021,24,Centre-Val de Loire,18,Cher,182,Saint-Amand-Montrond,2402,Bourges,18197,...,FXX,commune,Commune de la couronne,hors unite urbaine,300,1808,Non,211800024,Non,"POLYGON ((2.567383 46.65241, 2.566508 46.65245..."
1,2021,24,Centre-Val de Loire,18,Cher,182,Saint-Amand-Montrond,2402,Bourges,18197,...,FXX,commune,Commune de la couronne,hors unite urbaine,64,1817,Non,211800586,Non,"POLYGON ((2.367232 46.893679, 2.367511 46.8927..."
2,2021,24,Centre-Val de Loire,18,Cher,181,Bourges,2402,Bourges,58059,...,FXX,commune,Commune de la couronne,hors unite urbaine,64,1802,Non,211800610,Non,"POLYGON ((2.756039 47.139689, 2.757967 47.1415..."
3,2021,24,Centre-Val de Loire,18,Cher,182,Saint-Amand-Montrond,60,Nevers,18242,...,FXX,commune,Commune hors attraction des villes,hors unite urbaine,0,1809,Non,211801063,Non,"POLYGON ((2.978477 46.86771, 2.974309 46.86168..."
4,2021,24,Centre-Val de Loire,18,Cher,181,Bourges,2402,Bourges,18087,...,FXX,commune,Commune de la couronne,hors unite urbaine,64,1802,Non,211801196,Non,"POLYGON ((2.606959 46.999581, 2.607505 46.9994..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1752,2021,24,Centre-Val de Loire,28,Eure-et-Loir,282,ChÃƒÂ¢teaudun,2404,ChÃƒÂ¢teaudun,28088,...,FXX,commune,Commune de la couronne,hors unite urbaine,223,2815,Non,212804009,Non,"POLYGON ((1.539108 48.100556, 1.54662 48.09473..."
1753,2021,24,Centre-Val de Loire,28,Eure-et-Loir,283,Dreux,57,Dreux,28134,...,FXX,commune,Commune de la couronne,unite urbaine,1,2808,Non,212804041,Non,"POLYGON ((1.315527 48.718578, 1.316904 48.7201..."
1754,2021,24,Centre-Val de Loire,28,Eure-et-Loir,283,Dreux,57,Dreux,28134,...,FXX,commune,Commune de la couronne,hors unite urbaine,1,2808,Non,212804058,Non,"POLYGON ((1.312654 48.73361, 1.309871 48.73315..."
1755,2021,24,Centre-Val de Loire,28,Eure-et-Loir,281,Chartres,2403,Chartres,28227,...,FXX,commune,Commune de la couronne,hors unite urbaine,1,2802,Non,212804231,Non,"POLYGON ((1.613872 48.540773, 1.610493 48.5422..."
1756,2021,24,Centre-Val de Loire,28,Eure-et-Loir,282,ChÃƒÂ¢teaudun,2404,ChÃƒÂ¢teaudun,28061,...,FXX,commune,Commune de la couronne,unite urbaine,535,2803,Non,212804249,Non,"POLYGON ((1.192321 48.149835, 1.192058 48.1497..."

In [18]:
print(pd.io.sql.get_schema(gdf, name="georef_data", con=engine))

CREATE TABLE georef_data (
	year BIGINT,
	reg_code BIGINT,
	reg_name TEXT,
	dep_code BIGINT,
	dep_name TEXT,
	arrdep_code BIGINT,
	arrdep_name TEXT,
	ze2020_code BIGINT,
	ze2020_name TEXT,
	bv2012_code BIGINT,
	bv2012_name TEXT,
	epci_code BIGINT,
	epci_name TEXT,
	com_code BIGINT,
	com_current BIGINT,
	com_name TEXT,
	com_name_up TEXT,
	com_name_lo TEXT,
	com_area_co TEXT,
	com_type TEXT,
	com_cateaav TEXT,
	com_uu2020_ TEXT,
	com_aav2020 BIGINT,
	com_cv_code BIGINT,
	com_in_ctu TEXT,
	com_siren_c BIGINT,
	com_is_moun TEXT,
	geometry TEXT
)

In [19]:
gdf.columns

Index(['year', 'reg_code', 'reg_name', 'dep_code', 'dep_name', 'arrdep_code',
       'arrdep_name', 'ze2020_code', 'ze2020_name', 'bv2012_code',
       'bv2012_name', 'epci_code', 'epci_name', 'com_code', 'com_current',
       'com_name', 'com_name_up', 'com_name_lo', 'com_area_co', 'com_type',
       'com_cateaav', 'com_uu2020_', 'com_aav2020', 'com_cv_code',
       'com_in_ctu', 'com_siren_c', 'com_is_moun', 'geometry'],
      dtype='object')

In [20]:
df.columns

Index(['code_insee', 'val_ind', 'conc_pm10', 'conc_pm25', 'conc_no2',
       'conc_so2', 'conc_o3', 'poll_resp', 'date_run', 'date_ech'],
      dtype='object')

In [39]:

gdf.to_sql(con=con, name="geo_ref", if_exists="replace")

757

# Connexion to Sqlite database

In [31]:


# Connexion Ã  la base de donnÃ©es
conn = sqlite3.connect('pollution.sqlite')
# CrÃ©ation d'un curseur
cur = conn.cursor()
# ExÃ©cution d'une requÃªte
cur.execute("SELECT * FROM pollution_data")

# RÃ©cupÃ©ration des rÃ©sultats
results = pd.DataFrame(cur.fetchall(),columns=['code_insee', 'val_ind', 'conc_pm10', 'conc_pm25', 'conc_no2',
       'conc_so2', 'conc_o3', 'poll_resp', 'date_run', 'date_ech'])
#results = pd.DataFrame(cur.fetchall())    
                                               
results.head()
# Fermeture de la connexion
#conn.close()

# Affichage des rÃ©sultats
#for row in results:
    #print(row)

,code_insee,val_ind,conc_pm10,conc_pm25,conc_no2,conc_so2,conc_o3,poll_resp,date_run,date_ech
0,28415,4,22.7,11.6,23.8,0.4,155.7,o3,2023-06-14 00:00:00.000000,2023-06-16 00:00:00.000000
1,37094,4,16.2,9.4,16.1,0.1,145.1,o3,2023-06-14 00:00:00.000000,2023-06-16 00:00:00.000000
2,18273,4,12.6,7.5,12.9,0.2,137.6,o3,2023-06-14 00:00:00.000000,2023-06-16 00:00:00.000000
3,41217,4,14.5,8.3,16.7,0.1,149.0,o3,2023-06-14 00:00:00.000000,2023-06-16 00:00:00.000000
4,28182,4,20.4,10.4,21.9,0.2,152.3,o3,2023-06-14 00:00:00.000000,2023-06-16 00:00:00.000000

In [32]:
results

,code_insee,val_ind,conc_pm10,conc_pm25,conc_no2,conc_so2,conc_o3,poll_resp,date_run,date_ech
0,28415,4,22.7,11.6,23.8,0.4,155.7,o3,2023-06-14 00:00:00.000000,2023-06-16 00:00:00.000000
1,37094,4,16.2,9.4,16.1,0.1,145.1,o3,2023-06-14 00:00:00.000000,2023-06-16 00:00:00.000000
2,18273,4,12.6,7.5,12.9,0.2,137.6,o3,2023-06-14 00:00:00.000000,2023-06-16 00:00:00.000000
3,41217,4,14.5,8.3,16.7,0.1,149.0,o3,2023-06-14 00:00:00.000000,2023-06-16 00:00:00.000000
4,28182,4,20.4,10.4,21.9,0.2,152.3,o3,2023-06-14 00:00:00.000000,2023-06-16 00:00:00.000000
...,...,...,...,...,...,...,...,...,...,...
15808,28296,4,19.1,9.7,19.8,0.2,150.2,o3,2023-06-14 00:00:00.000000,2023-06-16 00:00:00.000000
15809,41286,4,16.4,8.8,19.1,0.1,150.8,o3,2023-06-14 00:00:00.000000,2023-06-16 00:00:00.000000
15810,37169,4,16.1,8.8,19.3,0.1,149.8,o3,2023-06-14 00:00:00.000000,2023-06-16 00:00:00.000000
15811,18226,4,14.8,8.0,16.1,0.2,135.9,o3,2023-06-14 00:00:00.000000,2023-06-16 00:00:00.000000
15812,18179,4,14.4,7.7,15.1,0.1,136.8,o3,2023-06-14 00:00:00.000000,2023-06-16 00:00:00.000000

In [ ]:
# RÃ©cupÃ©ration des rÃ©sultats
results = pd.DataFrame(cur.fetchall(),columns=['year', 'reg_code', 'reg_name', 'dep_code', 'dep_name', 'arrdep_code',
       'arrdep_name', 'ze2020_code', 'ze2020_name', 'bv2012_code',
       'bv2012_name', 'epci_code', 'epci_name', 'com_code', 'com_current',
       'com_name', 'com_name_up', 'com_name_lo', 'com_area_co', 'com_type',
       'com_cateaav', 'com_uu2020_', 'com_aav2020', 'com_cv_code',
       'com_in_ctu', 'com_siren_c', 'com_is_moun', 'geometry'])
#results = pd.DataFrame(cur.fetchall())    
results.head()

In [27]:
# Connexion Ã  la base de donnÃ©es
conn = sqlite3.connect('georef.sqlite')
# CrÃ©ation d'un curseur
cur = conn.cursor()
# ExÃ©cution d'une requÃªte
cur.execute("SELECT * FROM georef_data")

# RÃ©cupÃ©ration des rÃ©sultats
results = pd.DataFrame(cur.fetchall(),columns=['year', 'reg_code', 'reg_name', 'dep_code', 'dep_name', 'arrdep_code',
       'arrdep_name', 'ze2020_code', 'ze2020_name', 'bv2012_code',
       'bv2012_name', 'epci_code', 'epci_name', 'com_code', 'com_current',
       'com_name', 'com_name_up', 'com_name_lo', 'com_area_co', 'com_type',
       'com_cateaav', 'com_uu2020_', 'com_aav2020', 'com_cv_code',
       'com_in_ctu', 'com_siren_c', 'com_is_moun', 'geometry'])
#results = pd.DataFrame(cur.fetchall())    
results.head()
# Fermeture de la connexion
# instead of cursor.description:
#row = cur.fetchone()
#conn.close()

,year,reg_code,reg_name,dep_code,dep_name,arrdep_code,arrdep_name,ze2020_code,ze2020_name,bv2012_code,...,com_area_co,com_type,com_cateaav,com_uu2020_,com_aav2020,com_cv_code,com_in_ctu,com_siren_c,com_is_moun,geometry
0,2021,24,Centre-Val de Loire,18,Cher,182,Saint-Amand-Montrond,2402,Bourges,18197,...,FXX,commune,Commune de la couronne,hors unite urbaine,300,1808,Non,211800024,Non,"POLYGON ((2.567383 46.65241, 2.566508 46.65245..."
1,2021,24,Centre-Val de Loire,18,Cher,182,Saint-Amand-Montrond,2402,Bourges,18197,...,FXX,commune,Commune de la couronne,hors unite urbaine,64,1817,Non,211800586,Non,"POLYGON ((2.367232 46.893679, 2.367511 46.8927..."
2,2021,24,Centre-Val de Loire,18,Cher,181,Bourges,2402,Bourges,58059,...,FXX,commune,Commune de la couronne,hors unite urbaine,64,1802,Non,211800610,Non,"POLYGON ((2.756039 47.139689, 2.757967 47.1415..."
3,2021,24,Centre-Val de Loire,18,Cher,182,Saint-Amand-Montrond,60,Nevers,18242,...,FXX,commune,Commune hors attraction des villes,hors unite urbaine,0,1809,Non,211801063,Non,"POLYGON ((2.978477 46.86771, 2.974309 46.86168..."
4,2021,24,Centre-Val de Loire,18,Cher,181,Bourges,2402,Bourges,18087,...,FXX,commune,Commune de la couronne,hors unite urbaine,64,1802,Non,211801196,Non,"POLYGON ((2.606959 46.999581, 2.607505 46.9994..."

In [28]:
results.isnull().sum()

year           0
reg_code       0
reg_name       0
dep_code       0
dep_name       0
arrdep_code    0
arrdep_name    0
ze2020_code    0
ze2020_name    0
bv2012_code    0
bv2012_name    0
epci_code      0
epci_name      0
com_code       0
com_current    0
com_name       0
com_name_up    0
com_name_lo    0
com_area_co    0
com_type       0
com_cateaav    0
com_uu2020_    0
com_aav2020    0
com_cv_code    0
com_in_ctu     0
com_siren_c    0
com_is_moun    0
geometry       0
dtype: int64